<ion-header>
  <ion-toolbar>
    <ion-title>Neue Wette</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <h1 class="page-title">SetBet – Wette erstellen</h1>
    <p class="page-subtitle">
      Definiere Einsatz, Mitspieler und Regeln klar und nachvollziehbar.
    </p>

    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked">Titel der Wette</ion-label>
        <ion-input
          [(ngModel)]="title"
          placeholder="z.B. Challenge im Sport, Spiel oder Alltag"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Beschreibung (optional)</ion-label>
        <ion-textarea
          auto-grow="true"
          [(ngModel)]="description"
          placeholder="Kurz beschreiben, worum es bei der Wette geht."
        ></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Mitspieler (Username)</ion-label>
        <ion-input
          [(ngModel)]="invitedSearch"
          (ionInput)="onInvitedSearchChange($event)"
          placeholder="Username der anderen Person"
        ></ion-input>
      </ion-item>

      <ion-item
        button
        detail="false"
        *ngFor="let p of invitedSuggestions"
        (click)="selectInvitedUser(p)"
      >
        <ion-label>{{ p.username }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Einsatz</ion-label>
        <ion-radio-group [(ngModel)]="stakeType">
          <ion-item lines="none">
            <ion-label>Geldbetrag</ion-label>
            <ion-radio slot="start" value="money"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Andere Gegenleistung</ion-label>
            <ion-radio slot="start" value="other"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>

      <ng-container *ngIf="stakeType === 'money'">
        <ion-item>
          <ion-label position="stacked">Betrag</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="stakeAmount"
            placeholder="z.B. 20"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Währung</ion-label>
          <ion-input
            [(ngModel)]="stakeCurrency"
            placeholder="z.B. CHF, EUR"
          ></ion-input>
        </ion-item>
      </ng-container>

      <ng-container *ngIf="stakeType === 'other'">
        <ion-item>
          <ion-label position="stacked">Beschreibung des Einsatzes</ion-label>
          <ion-textarea
            auto-grow="true"
            [(ngModel)]="stakeText"
            placeholder="z.B. Essen ausgeben, bestimmte Aufgabe erledigen…"
          ></ion-textarea>
        </ion-item>
      </ng-container>

      <ion-item>
        <ion-label position="stacked">Regel-Template</ion-label>
        <ion-select
          [(ngModel)]="selectedRuleKey"
          (ionChange)="onRuleTemplateChange($event)"
        >
          <ion-select-option
            *ngFor="let t of ruleTemplates"
            [value]="t.key"
          >
            {{ t.title }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div class="rules-preview">
      <h2>Regeln (Vorschlag)</h2>
      <pre>{{ selectedRuleText }}</pre>
    </div>

    <div class="messages">
      <ion-text color="danger" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </ion-text>
      <ion-text color="success" *ngIf="successMessage">
        <p>{{ successMessage }}</p>
      </ion-text>
    </div>

    <ion-button
      expand="block"
      (click)="createBet()"
      [disabled]="loading"
    >
      <ion-spinner slot="start" *ngIf="loading"></ion-spinner>
      Wette erstellen
    </ion-button>
  </div>
</ion-content>
